<component name="ArtifactManager">
  <artifact type="war" name="SpringCloudBee:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringCloudBee.war">
      <element id="artifact" artifact-name="SpringCloudBee:war exploded" />
    </root>
  </artifact>
</component>